<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dm.trade.goods.dao.GoodsActivityDao">

    <select id="get" resultType="com.dm.trade.goods.domain.GoodsActivityDO">
		select `id`,`goods_id`,`category_id`,`activity_price`,`activity_num`,`unit`,`start_time`,`end_time`,`status`,`user_leave`,`activity_type`,`create_time`,`update_time`,`var01`,`var02`,`var03` from dm_goods_activity where id = #{value}
	</select>

    <select id="list" resultType="com.dm.trade.goods.domain.GoodsActivityDO">
        select
        `id`,`goods_id`,`category_id`,`activity_price`,`activity_num`,`unit`,`start_time`,`end_time`,`status`,`user_leave`,`activity_type`,`create_time`,`update_time`,`var01`,`var02`,`var03`
        from dm_goods_activity
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="goodsId != null and goodsId != ''">and goods_id = #{goodsId}</if>
            <if test="goodsIds != null and goodsIds.size() > 0 ">
                and goods_id in
                <foreach collection="goodsIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="categoryId != null and categoryId != ''">and category_id = #{categoryId}</if>
            <if test="activityPrice != null and activityPrice != ''">and activity_price = #{activityPrice}</if>
            <if test="activityNum != null and activityNum != ''">and activity_num = #{activityNum}</if>
            <if test="unit != null and unit != ''">and unit = #{unit}</if>
            <if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>
            <if test="endTime != null and endTime != ''">and end_time = #{endTime}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="userLeave != null and userLeave != ''">and user_leave = #{userLeave}</if>
            <if test="activityType != null and activityType != ''">and activity_type = #{activityType}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
            <if test="var01 != null and var01 != ''">and var01 = #{var01}</if>
            <if test="var02 != null and var02 != ''">and var02 = #{var02}</if>
            <if test="var03 != null and var03 != ''">and var03 = #{var03}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from dm_goods_activity
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="goodsId != null and goodsId != ''">and goods_id = #{goodsId}</if>
            <if test="goodsIds != null and roleCodes.size() > 0 ">
                and goods_id in
                <foreach collection="goodsIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="categoryId != null and categoryId != ''">and category_id = #{categoryId}</if>
            <if test="activityPrice != null and activityPrice != ''">and activity_price = #{activityPrice}</if>
            <if test="activityNum != null and activityNum != ''">and activity_num = #{activityNum}</if>
            <if test="unit != null and unit != ''">and unit = #{unit}</if>
            <if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>
            <if test="endTime != null and endTime != ''">and end_time = #{endTime}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="userLeave != null and userLeave != ''">and user_leave = #{userLeave}</if>
            <if test="activityType != null and activityType != ''">and activity_type = #{activityType}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
            <if test="var01 != null and var01 != ''">and var01 = #{var01}</if>
            <if test="var02 != null and var02 != ''">and var02 = #{var02}</if>
            <if test="var03 != null and var03 != ''">and var03 = #{var03}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.dm.trade.goods.domain.GoodsActivityDO" useGeneratedKeys="true"
            keyProperty="id">
        insert into dm_goods_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">`goods_id`,</if>
            <if test="categoryId != null">`category_id`,</if>
            <if test="activityPrice != null">`activity_price`,</if>
            <if test="activityNum != null">`activity_num`,</if>
            <if test="unit != null">`unit`,</if>
            <if test="startTime != null">`start_time`,</if>
            <if test="endTime != null">`end_time`,</if>
            <if test="status != null">`status`,</if>
            <if test="userLeave != null">`user_leave`,</if>
            <if test="activityType != null">`activity_type`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="var01 != null">`var01`,</if>
            <if test="var02 != null">`var02`,</if>
            <if test="var03 != null">`var03`</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">#{goodsId},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="activityPrice != null">#{activityPrice},</if>
            <if test="activityNum != null">#{activityNum},</if>
            <if test="unit != null">#{unit},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="userLeave != null">#{userLeave},</if>
            <if test="activityType != null">#{activityType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="var01 != null">#{var01},</if>
            <if test="var02 != null">#{var02},</if>
            <if test="var03 != null">#{var03}</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.dm.trade.goods.domain.GoodsActivityDO">
        update dm_goods_activity
        <set>
            <if test="goodsId != null">`goods_id` = #{goodsId},</if>
            <if test="categoryId != null">`category_id` = #{categoryId},</if>
            <if test="activityPrice != null">`activity_price` = #{activityPrice},</if>
            <if test="activityNum != null">`activity_num` = #{activityNum},</if>
            <if test="unit != null">`unit` = #{unit},</if>
            <if test="startTime != null">`start_time` = #{startTime},</if>
            <if test="endTime != null">`end_time` = #{endTime},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="userLeave != null">`user_leave` = #{userLeave},</if>
            <if test="activityType != null">`activity_type` = #{activityType},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="var01 != null">`var01` = #{var01},</if>
            <if test="var02 != null">`var02` = #{var02},</if>
            <if test="var03 != null">`var03` = #{var03}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from dm_goods_activity where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from dm_goods_activity where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>