<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dm.trade.customer.dao.CustomerIntegralDao">

	<select id="get" resultType="com.dm.trade.customer.domain.CustomerIntegralDO">
		select `id`,`customer_id`,`integral_num`,`order_id`,`money` from dm_customer_integral where id = #{value}
	</select>

	<select id="list" resultType="com.dm.trade.customer.domain.CustomerIntegralDO">
		select `id`,`customer_id`,`integral_num`,`order_id`,`money` from dm_customer_integral
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		  		  <if test="integralNum != null and integralNum != ''"> and integral_num = #{integralNum} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="money != null and money != ''"> and money = #{money} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from dm_customer_integral
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		  		  <if test="integralNum != null and integralNum != ''"> and integral_num = #{integralNum} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="money != null and money != ''"> and money = #{money} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.dm.trade.customer.domain.CustomerIntegralDO" useGeneratedKeys="true" keyProperty="id">
		insert into dm_customer_integral
		(
			`customer_id`, 
			`integral_num`, 
			`order_id`, 
			`money`
		)
		values
		(
			#{customerId}, 
			#{integralNum}, 
			#{orderId}, 
			#{money}
		)
	</insert>
	 
	<update id="update" parameterType="com.dm.trade.customer.domain.CustomerIntegralDO">
		update dm_customer_integral 
		<set>
			<if test="customerId != null">`customer_id` = #{customerId}, </if>
			<if test="integralNum != null">`integral_num` = #{integralNum}, </if>
			<if test="orderId != null">`order_id` = #{orderId}, </if>
			<if test="money != null">`money` = #{money}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from dm_customer_integral where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from dm_customer_integral where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>